h1 {
    color: black;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.42) 4px 1px 5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
body {
    font-family: DMsetif;
    min-height:100vh;
    background: url(./assets/img/f.jpg)  center/cover;
}
main {
    height: 400px;
    width: 50%;
    box-shadow: rgba(59, 255, 155, 0.59) 0px 1px 7px 0px;
    background: rgba(174, 170, 170, 0.8);
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(162, 255, 0);
    border-image: initial;
    border-radius: 20px;
    padding: 8px;
}
